body {
    background-color: #ddd;
    font-size: 100%;
    padding: 3em;
    font-family: Helvetica,Roboto,Arial,sans-serif;
}
@media (max-width:1512px) {
  .whiteFade {
    display: none;
  }
}
code {
    background-color: white;
}
.left {
    height:300px;
    width:49%;
    float: left;
    text-align: right;
}
.right {
    height:300px;
    width:50%;
    float: right;
    text-align: left;
    line-height: 200%;
    padding-top: 9px;

}
.texy {
    font-family: Helvetica,Roboto,Arial,sans-serif; 
    font-size:30px;
    color:black;
    float:left;
    margin-top: -25px;
    margin-left:210px;
    padding: 5px 5px;
    z-index:100;
    background-color: rgba(255,255,255,.7);
}
.whiteFade {
    position: absolute;
    left:1010px;
    height:200px;
    width:400px;
    background-color:black; 
    padding:25px; 
    font-family: Helvetica,Roboto,Arial,sans-serif; 
    text-align:center;

    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}
.myPhoto{
    float:left;
    width:31%;
    margin:0;
}
.myPhoto img{
    width:100%;
}
.portfolio {
    margin:auto;
    width:50%;
    padding:5px;
}
.infobar {
    background-color: navy;
    margin-left:200px;
    margin-top:-20px;
}
.infobar p{
    color:white;
    padding-top:5px;
    padding-right: 5px;
    text-align: right;

}
.story {
    color:navy;
}
.newsletterNav {
    background-color: #ccc;
    width: 30%;
    padding: 5px;
}
.newsletterNav a{
    text-decoration: none;
    font-size: 25px;
}
.resumeNav {
    background-color: black;
    width: 30%;
    padding: 5px;
    float:left;
}
.resumeNav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.resumeNav a:hover{
    color: #C2EBFF;
    font-size: 25px;
}
.moreInfo{
    background-color: navy;
    color:white;
    padding:5px;
    margin-top:5px;
    text-align: justify;
}

.showme{ 
display: none;

}


.article {
    width:65%;
    background-color: #C2EBFF;
    float:right;
    padding:5px;
}

.article p{
    font-size: 20px;
    text-align: justify;
}

.article ul{
    font-size: 20px;
    text-align: left;
}

.articleResume {
    width:65%;
    background-color: #C7E4FC;
    float:right;
    padding:5px;
}

.articleResume p{
    font-size: 20px;
    text-align: justify;
     line-height: 150%;
}

.articleResume ul{
    font-size: 20px;
    text-align: left;
}
.articleResume a{
    text-decoration: none;
    color: navy;
}
.articleResume a:hover{
    color: black;
    font-size: 20px;
    background-color: white;
}
.resumeP{
    padding-left:25px;
    background-color: #DEF0FF;
}
.showhim:hover .showme{
display : block;
 

}

.portfolio a:hover{
    opacity:0.5;
}

.portfolio img{
    width:300px;
}
.noMargin {
    margin:0;
}

.mastif {
    background-color:white; 
    /*border-bottom:10px solid white;*/
    margin-left: 200px; 
    margin-top:-35px; 
    height:250px;
    padding:0px; 
    font-family: Helvetica,Roboto,Arial,sans-serif; 
    text-align:center;
    background-image: url(bird.jpg);
    background-repeat: no-repeat; 
    background-position: 0% 60%;
}
.texy p {
    margin: 0;
}
.topDiv {
    background-color:white; 
    margin-left: 200px; 
    margin-top:-15px; 
    padding:25px; 
    font-family: Helvetica,Roboto,Arial,sans-serif; 
    text-align:center;
}
.photoDiv {
    background-color:white; 
    margin-left: 200px; 
    padding:25px; 
    font-family: 
    Helvetica,Roboto,Arial,sans-serif; 
    text-align:center;
}
.outerDiv {
    background-color:white; 
    margin-left: 200px; 
    padding:25px; 
    font-family: 
    Helvetica,Roboto,Arial,sans-serif; 
    text-align:center; 
    height:100%
}
.standardText
{
    background-color:white; 
    padding:10px; width:100%%; 
    text-align:justify
}
.full {
    width:100%;
}
.problem {
    background-color:#FFB2B2; 
    color:#800000; 
    padding:10px
}
.justList {
    text-align:left; 
    font-size:20px;
}
.middleThird {
     width:40%; 
     margin:auto
}
.middleHalf {
     width:50%; 
     margin:auto
}
.mainNav {
    float: left;
    transform: perspective(500px);
    transform-style: preserve-3d;
}
.mainNav ul {
  list-style: none;
  padding: 0;
}
.mainNav a {
    background-color: navy;
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.05)),
                      linear-gradient(-72deg, hsla(0,0%,100%,.05) 50%, transparent 50%);
    backface-visibility: hidden;
    box-shadow: inset 0 0 .25em hsla(0,0%,0%,.1),
                inset 0 0 1.5em hsla(0,0%,0%,.25);
    color: white;
    display: block;
    font: bold 1em/3 sans-serif;
    padding: 0 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
    transition: .5s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    width: 6em;
}
.thisPage {
    background-color: white !important;
    color: black !important;
}
.mainNav a:after {
    background-color: black;
    color: #fff;
    content: attr(data-title);
    left: 100%;
    line-height: 3;
    position: absolute;
    top: 0;
    transform: rotateY(90deg);
    transform-origin: 0 0;
    width: 100%;
}
.mainNav a:before {
    background-color: inherit;
    background-image: linear-gradient(hsla(0,0%,0%,.07), hsla(0,0%,0%,.07)),
                      linear-gradient(hsla(0,0%,0%,.5), hsla(0,0%,0%,.5));
    bottom: 0;
    content: '';
    height: 9em;
    left: 100%;
    position: absolute;
    top: 0;
    transform-origin: 0 0;
    width: 100%;
}
.mainNav li:nth-child(-n+2) a:before {
    transform: rotateX(-90deg) translateX(-9em) translateZ(3em);
}
.mainNav li:nth-child(n+3) a:before {
    transform: rotateX(-90deg) translateX(-9em);
}
.mainNav li:hover a {
    transform: rotateY(-90deg) translateX(-4.5em) translateZ(4.5em);
    z-index: 10;
}​
